{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block headerimage %}
    <header id="header_subpage2" style="background: url(img/banner-subpage2.jpg);">
            <div class="shader-primary" style="opacity:.91;"></div>
            <div class="container">
                <div class="row">
                    <div class="caption ani_ fadeinup">
                        <div class="breadcrumb">
                            <a href="#">Home</a> <span>/</span><a href="#" class="this_page">Register </a>
                        </div>
                        <h2>Password Reset Email Sent</h2>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}




{% block main %}

    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ani_ fadeinleft">
                            
                            

                            <p>
                                Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé. 
                                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                            </p>
                            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>





                    </div>
                </div>
            </div>
        </section>
{% endblock %}