{% extends 'base.html.twig' %}
{% block title %}Vérification adresse email{% endblock %}

{% block headerimage %}
    <header id="header_subpage2" style="background: url(img/banner-subpage2.jpg);">
            <div class="shader-primary" style="opacity:.91;"></div>
            <div class="container">
                <div class="row">
                    <div class="caption ani_ fadeinup">
                        <div class="breadcrumb">
                            <a href="#">Home</a> <span>/</span><a href="#" class="this_page">Vérification adresse email </a>
                        </div>
                        <h2>Vérification adresse email</h2>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}



{% block main %}
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ani_ fadeinleft">
                            <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">{% trans %}Félicitation{% endtrans %}</h4>
                            <h1 class="mb-0">{% trans %}Votre adresse email a été vérifiée !{% endtrans %}</h1>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}