{% extends 'admin.html.twig' %}
{% block title %}New User{% endblock %}

{% block pageactive %}Admin{% endblock %}
{% block titleh1 %}Admin{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                            <h3 class="card-title">Admin</h3>
                        </div>
                    
                    
                <div>
            <div>
    <div>
{% endblock %}
