{% extends 'admin.html.twig' %}

{% block title %}New SessionFormation{% endblock %}

{% block body %}
    <h1>Create new SessionFormation</h1>

    {{ include('session_formation/_form.html.twig') }}
{% endblock %}
