<!DOCTYPE html>
<html>
<body>
    
    <p>
    
    
    
    
<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Bonjour M./Mme XXX</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Nous tenons &agrave; vous remercier d&#39;avoir choisi notre entreprise pour l&#39;achat de votre carte VISA pr&eacute;pay&eacute;e. Nous sommes ravis de vous offrir une solution de paiement facile et s&eacute;curis&eacute;e qui vous permettra de profiter pleinement de vos achats en ligne et en magasin.</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Nous souhaitons vous rappeler quelques informations importantes concernant votre carte VISA pr&eacute;pay&eacute;e:</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>I- Activation de la carte:</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Si vous recevez ce mail, alors votre carte est active.&nbsp;</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>III- Rechargement de la carte:</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Votre carte VISA pr&eacute;pay&eacute;e peut &ecirc;tre recharg&eacute;e &agrave; tout moment. Les moyens de recharge qui s&#39;offrent &agrave; vous sont les suivants.</span></span></span></p>

<ul>
	<li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>Data Engineering Consulting SARL</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">: Nous disposons d&rsquo;un service de recharge joignable au +237 695 228 387 / +237 699 786 514 / </span></span></span><a href="mailto:infos@dataenginerringconsulting.com" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#1155cc"><u>infos@dataenginerringconsulting.com</u></span></span></span></a><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> . Il vous permet de recharger votre carte &agrave; distance. notre service de recharge est disponible </span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>7J/7</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> de 8H &agrave; 22H heure du Cameroun..&nbsp;</span></span></span></li>
	<li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>Les agences UBA</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> : Vous pouvez recharger votre carte &agrave; l&rsquo;agence UBA la plus proche de chez vous ;</span></span></span></li>
	<li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>Orange money / MOMO</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> : il est possible de lier votre carte VISA pr&eacute;pay&eacute;e &agrave; Orange Money / MOMO. cela vous permettra de recharger votre carte en toute autonomie. Nous avons fait pour vous un didacticiel qui vous permettra de lier votre carte &agrave; Orange Money / MOMO sans vous rendre &agrave; l&rsquo;agence. Ce <a href="https://dataengineeringconsulting.com/fr/blog/1-Liaison-de-votre-carte-VISA-prepayee-avec-Orange-Money-ou-Mobile-money.html">didacticiel </a>est accessible sur notre site internet . Cependant, en cas de difficult&eacute;s. nous vous recommandons de vous rendre &agrave; l&rsquo;agence UBA la plus proche de vous.</span></span></span></li>
</ul>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>IV- Utilisation de la carte:</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Votre carte VISA pr&eacute;pay&eacute;e fonctionne comme une carte de d&eacute;bit normale. Vous pouvez l&#39;utiliser dans l</span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>es magasins physiques</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">, </span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>en ligne</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> et m&ecirc;me pour retirer de l&#39;argent dans les </span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>distributeurs automatiques</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> ceci dans tout le monde. Veuillez vous assurer de toujours conserver votre carte en toute s&eacute;curit&eacute; et de ne jamais divulguer les d&eacute;tails de votre carte &agrave; des tiers non autoris&eacute;s.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>V- S&eacute;curit&eacute; :</strong></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Nous prenons la s&eacute;curit&eacute; de vos transactions tr&egrave;s au s&eacute;rieux. Votre carte est prot&eacute;g&eacute;e par deux codes confidentiels que vous seul(e) devez conna&icirc;tre et qui sont dans l&#39;enveloppe contenant la carte. Gardez ces codes secrets et ne le partager avec personne. En cas de perte ou de vol de votre carte, veuillez vous rendre &agrave; l&#39;agence UBA la plus proche de chez vous. dans l&#39;enveloppe contenant votre carte pr&eacute;pay&eacute;e, vous avez le </span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>code PIN</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> et le </span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>code web</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> :</span></span></span></p>

<ul>
	<li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>le code PIN : </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">utiliser pour les&nbsp; retraits d&rsquo;argent&nbsp; dans des guichets automatiques VISA ceci dans tout le monde entier ;</span></span></span></li>
	<li style="list-style-type:disc"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>le code web :</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> UBA met &agrave; votre disposition une plateforme vous permettant de g&eacute;rer votre carte VISA pr&eacute;pay&eacute;e (imprimer l&rsquo;historique de vos transactions, visualiser votre solde,...). Cette plateforme est disponible sur ce <a href="https://www.gtpsecurecard.com/UBA">lien</a>. Pour exploiter cette plateforme, vous devez y cr&eacute;er un compte.le</span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong> code web</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> vous sera demand&eacute; dans le processus de cr&eacute;ation de votre compte sur cette plateforme.</span></span></span></li>
</ul>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>Data Engineering Consulting </strong>SARL vous offre un grand nombre de formations <a href="https://dataengineeringconsulting.com/fr/services/formation/1/0/Cursus-qualifiant.html">qualifiantes </a>et <a href="https://dataengineeringconsulting.com/fr/services/formation/2/0/Cursus-certifiant.html">certifiantes</a></span></span></span><a href="https://dataengineeringconsulting.com/fr/services/formation/2/0/Cursus-certifiant.html">&nbsp;</a><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">dans le domaine du num&eacute;rique.</span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Nous esp&eacute;rons que votre exp&eacute;rience avec notre carte VISA pr&eacute;pay&eacute;e UBA sera agr&eacute;able et vous facilitera la gestion de vos transactions financi&egrave;res. Merci encore d&#39;avoir choisi notre entreprise et nous restons &agrave; votre disposition pour toute demande suppl&eacute;mentaire.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Cordialement,</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Data Engineering Consulting Sarl</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>Email </strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">: </span></span></span><a href="mailto:infos@dataenginerringconsulting.com" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#1155cc"><u>infos@dataenginerringconsulting.com</u></span></span></span></a></p>

<p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>Site web</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> : </span></span></span><a href="https://dataengineeringconsulting.com" style="text-decoration:none"><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#1155cc"><u>https://dataengineeringconsulting.com</u></span></span></span></a></p>

<p><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"><strong>t&eacute;l&eacute;phone :</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000"> (+237) 699 786 514</span></span></span></p>

    
    
    
    
    
    </p>
</body>
</html>