// --------
// Buttons
// --------
.btn {
    padding: 0 14px;
    line-height: 36px;
    outline: none;
    background: #fff;
    background: -webkit-linear-gradient(-600deg, #eef3f9, #fff);
    background: linear-gradient(-600deg, #eef3f9, #fff);
    box-shadow: 0 1px 3px rgba(26, 37, 46, .08), inset 0 1px 0 hsla(0, 0%, 100%, .35);
    border-radius: 6px;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 6px;
    color: #3f4a54;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-right: 8px;
    margin-top: 10px;
    color: $primary;
    @include bp(xs) {
        width: 85%;
        margin-top: 5px;
        line-height: 41px;
        font-size: 16px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0 2px 10px rgba(26, 37, 46, .13), inset 0 1px 0 hsla(0, 0%, 100%, .35);
    }
    &:active,
    &:focus {
        outline: none;
    }
}

.btn.alt {
    background: -webkit-linear-gradient($primary-2, $primary);
    background: linear-gradient($primary-2, $primary);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
    color: #fff;
    &:hover {
        color: #fff;
    }
}
